<template name="item_table">

    <table class="table table-bordered">
        {{#if Template.subscriptionsReady}}

            <thead>
            <tr>
                <th style="width: 500px">Name</th>
                <th>Unit Price (Rs.)</th>
                <th style="width: 100px">Actions</th>
            </tr>
            </thead>
            <tbody>
                {{#each item in itemsForCategory}}
                    {{> item_record item=item}}
                {{/each}}
            </tbody>

        {{else}}
            Loading...
        {{/if}}

    </table>

</template>