<template name="item_list">
    <div class="col-md-5">
        <div class="well text-center" style="padding-top: 5px">
            <h3><strong>New Order - {{tableNo}}</strong></h3>
            <span id="errors" style="color: red"></span>
            {{#each new_order.menuItems}}
                <div class="well" style="background: #00a7d0"><strong>{{name}} - {{quantity}}</strong></div>
            {{/each}}
            <div class="row">
                {{#if submit}}
                    <div class="btn btn-success btn-lg" id="submit_order">Submit</div>
                {{/if}}
                <div class="btn btn-info btn-lg" id="cancel_order">Cancel</div>
            </div>
        </div>
    </div>
</template>