<template name="menu_item_button">

    <style>
        .btn-xlarge {
            padding: 18px 28px;
            font-size: 22px;
            line-height: normal;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            border-radius: 8px;
        }
    </style>

    <div class="btn btn-warning btn-xlarge" id="menu_item_btn" >{{name}}</div>

   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header text-center">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><strong>Enter Quantity</strong></h4>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="well text-center" id="numberDisplay" style="font-weight: bold;font-size: 25px;padding: 5px">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-2 col-md-offset-2 btn btn-primary btn-lg text-center numberButton">
							<strong>1</strong>
						</div>
						<div class="col-md-2 col-md-offset-1 btn btn-primary btn-lg text-center numberButton">
							<strong>2</strong>
						</div>
						<div class="col-md-2 col-md-offset-1 btn btn-primary btn-lg text-center numberButton">
							<strong>3</strong>
						</div>
					</div>

					<br>

					<div class="row">
						<div class="col-md-2 col-md-offset-2 btn btn-primary btn-lg text-center numberButton">
							<strong>4</strong>
						</div>
						<div class="col-md-2 col-md-offset-1 btn btn-primary btn-lg text-center numberButton">
							<strong>5</strong>
						</div>
						<div class="col-md-2 col-md-offset-1 btn btn-primary btn-lg text-center numberButton">
							<strong>6</strong>
						</div>
					</div>

                    <br>

					<div class="row">
						<div class="col-md-2 col-md-offset-2 btn btn-primary btn-lg text-center numberButton">
							<strong>7</strong>
						</div>
						<div class="col-md-2 col-md-offset-1 btn btn-primary btn-lg text-center numberButton">
							<strong>8</strong>
						</div>
						<div class="col-md-2 col-md-offset-1 btn btn-primary btn-lg text-center numberButton">
							<strong>9</strong>
						</div>
					</div>

                    <br>

                    <div class="row">
                        <div class="col-md-2 col-md-offset-5 btn btn-primary btn-lg text-center numberButton">
                            <strong>0</strong>
                        </div>
                        <div class="col-md-2 col-md-offset-1 btn btn-primary btn-lg text-center clearButton">
                            <strong>C</strong>
                        </div>
                    </div>
					
				</div>
				<div class="modal-footer">
                    <div class="row">
                        <div class="col-md-2 col-md-offset-4 btn btn-success btn-lg text-center" id="addMenuItem">ADD</div>
                        <div class="col-md-2 col-md-offset-1 btn btn-info btn-lg text-center" id="cancelMenuItem">Cancel</div>
                    </div>
				</div>
			</div>
		</div>
	</div>

</template>