<template name="order_list">
    <div class="row">
        {{#each order in orders}}
            {{#if ready order.status}}
                <div class="well" style="background: #4c9808; font-weight: bolder; color: black; font-size: 20px">Table No: {{order.tableNo}}</div>
            {{/if}}
        {{/each}}
        {{#each order in orders}}
            {{#if notReady order.status}}
                <div class="well" style="background: #007ea5; font-weight: bolder; color: black; font-size: 20px">Table No: {{order.tableNo}}</div>
            {{/if}}
        {{/each}}
    </div>
</template>