<template name="side_bar_admin">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->

            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header"><b>MAIN NAVIGATION</b></li>
                <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li><a href="/admin/user_management"><i class="fa fa-users"></i> <span>Manage Users</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</template>