<template name="user_edit_form">
    <!-- general form elements -->
    <div class="box box-warning">
        <div class="box-header with-border">
            <h3 class="box-title">Edit User</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" id="edit_form">
            <div class="box-body">
                <div class="form-group">
                    <label for="name">New Name:</label>
                    <input type="text" name="name" class="form-control" id="name" value="{{data.profile.name}}" required autofocus>
                </div>
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" name="username" class="form-control" id="username" value="{{data.username}}" disabled>
                </div>
                <div class="form-group" id="password_group">
                    <label for="password">New Password: (Keep empty for no change)</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password to change">
                    <span class="help-block" id="password_helper"></span>
                </div>
                <div class="form-group" id="repassword_group">
                    <label for="repassword">Confirm New Password: (Keep empty for no change)</label>
                    <input type="password" class="form-control" id="repassword" placeholder="Confirm New Password" name="repassword">
                </div>
                <div class="form-group">
                    <label for="role">Current Role:</label>
                    <input type="text" class="form-control" id="role" name="role" value="{{data.profile.role}}" disabled>
                </div>
                <div class="form-group">
                    <label>Select New Role: (Keep empty for no change)</label>
                    <select class="form-control" name="new_role">
                        <option value="null" selected></option>
                        <option value="waiter">Waiter</option>
                        <option value="cashier">Cashier</option>
                        <option value="kitchen">Kitchen</option>
                        <option value="customer">Customer</option>
                        <option value="admin">Admin</option>
                    </select>
                </div>
                <input type="hidden" class="form-control" id="id" name="id" value="{{data._id}}" >

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <button type="submit" class="btn btn-primary" id="save">Save</button>
                <button type="button" class="btn btn-warning" id="cancel">Cancel</button>
            </div>
        </form>
    </div>
</template>